@import url(https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

* {
  scroll-behavior: smooth;
}

.border {
  box-shadow: 3px 2px 6px rgba(0,0,0,0.1);
}

/* .flex-row {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.gap {
  gap: auto;
}

.w-auto {
  width: auto;
}
.w-full {
  width: auto;
}

.h-7 {
  height: 70px;
}
.h-full {
  height: 100%;
}

.m-x {
  margin: 0 auto;
} */